---
layout: default
title: vladiant blog
---
<head>
	{% if site.tags != "" %}
	  {% include collecttags.html %}
	{% endif %}
	
	<style>
	* {
	  box-sizing: border-box;
	}

	/* Create two equal columns that floats next to each other */
	.column {
	  float: left;
	  width: 50%;
	  padding: 10px;
	  height: 300px; /* Should be removed. Only for demonstration */
	}

	/* Clear floats after the columns */
	.row:after {
	  content: "";
	  display: table;
	  clear: both;
	}
	</style>
	
</head>
<body>
	<h1>{{ page.title }}</h1>
	
<div class="row">
    <div class="column">
	<ul class="posts">
	  {% for post in site.posts %}
	    <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	  {% endfor %}
	</ul>
    </div>
    <div class="column">
	<ul class="tags">
	{% include tags.html %}
	</ul>
    </div>
</div>
</body>
