---
layout: default
title: vladiant blog
---
<head>
	{% if site.tags != "" %}
	  {% include collecttags.html %}
	{% endif %}
	
	<style>
	* {
	  box-sizing: border-box;
	}

	/* Create two equal columns that floats next to each other */
	.column {
	  float: left;
	  padding: 10px;
	  width: 70%;
	}

	.column_tags {
	  float: left;
	  padding: 10px;
	  width: 30%;
	}		

	/* Clear floats after the columns */
	.row:after {
	  content: "";
	  display: table;
	  clear: both;
	}
	</style>
	
	<link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="atom.xml">

</head>
<body>
	<h1>{{ page.title }}</h1>
	
<div class="row">
    <div class="column">
	<ul class="posts">
	  {% for post in site.posts %}
	    <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	  {% endfor %}
	  <p></p>
	  subscribe <a class="btn btn-rss" href="atom.xml" target="_blank">via RSS</a>
	</ul>
    </div>
    <div class="column_tags">
	<ul class="tags">
	{% include tags.html %}
	</ul>
    </div>
</div>
</body>
