<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			{% include analytics.html %}
		</head>
		<body>
			<nav class="site-nav">
				<div class="wrap nav-inner">
					<div class="brand"><span>vladiant</span>@portfolio</div>
					<ul>
		        		<li><a href="/">Home</a></li>
	        				<li><a href="/about/">About</a></li>
	        				<li><a href="/blog/">Blog</a></li>
						<li><a href="https://www.linkedin.com/in/vladiant/">LinkedIn</a></li>
					</ul>
				</div>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer class="site-footer">
				<div class="wrap footer-inner">
					<ul class="footer-links">
		        		<li><a href="https://github.com/vladiant">GitHub</a></li>
		        		<li><a href="https://gitlab.com/vladiant">GitLab</a></li>
		        		<li><a href="https://www.linkedin.com/in/vladiant/">LinkedIn</a></li>
		        		<li><a href="/about/">About</a></li>
		        		<li><a href="/blog/">Blog</a></li>
					</ul>
					<div class="footer-copy">© 2026 Vladislav Antonov</div>
				</div>
			</footer>
		</body>
	</html>
